# download stats

In [1]:
from rook.usage import Downloads
from datetime import datetime
import os
import pandas as pd

In [2]:
d = Downloads()

In [3]:
d._http_log_path = "/Users/pingu/tmp/nginx/var/log/nginx"
d._http_log_path

'/Users/pingu/tmp/nginx/var/log/nginx'

In [4]:
d._output_path

'/outputs'

In [5]:
d.collect(outdir=os.curdir)

'./downloads.csv'

In [6]:
df = pd.read_csv("downloads.csv")
df

,remote_host_ip,ip_number,datetime,timezone,request_type,request,protocol,status_code,size,referer,user_agent
0,136.156.155.149,2291964821,2024-08-14 00:13:10,200,GET,/outputs/rook/3769991e-59c1-11ef-b5c0-fa163e93...,HTTP/1.1,200,1984894,-,"Python-urllib/3.6"" ""-"
1,136.156.153.235,2291964395,2024-08-14 00:13:32,200,GET,/outputs/rook/46226da0-59c1-11ef-84a3-fa163e93...,HTTP/1.1,200,215882,-,"Python-urllib/3.6"" ""-"
2,136.156.153.87,2291964247,2024-08-14 00:13:44,200,GET,/outputs/rook/4ddbf048-59c1-11ef-989d-fa163e93...,HTTP/1.1,200,168461,-,"Python-urllib/3.6"" ""-"
3,136.156.153.87,2291964247,2024-08-14 00:14:03,200,GET,/outputs/rook/579ddfba-59c1-11ef-952a-fa163e93...,HTTP/1.1,200,2560814,-,"Python-urllib/3.6"" ""-"
4,136.156.154.193,2291964609,2024-08-14 00:14:33,200,GET,/outputs/rook/6a7586b0-59c1-11ef-80c3-fa163e93...,HTTP/1.1,200,154219,-,"Python-urllib/3.6"" ""-"
...,...,...,...,...,...,...,...,...,...,...,...
221072,136.156.155.149,2291964821,2024-08-13 22:23:46,200,GET,/outputs/rook/6a0d75ee-59b1-11ef-a3da-fa163e93...,HTTP/1.1,200,1833360810,-,"Python-urllib/3.6"" ""-"
221073,136.156.155.140,2291964812,2024-08-13 23:25:52,200,GET,/outputs/rook/9ce7a396-59ba-11ef-8c38-fa163e93...,HTTP/1.1,200,60959274,-,"Python-urllib/3.6"" ""-"
221074,136.156.155.140,2291964812,2024-08-13 23:38:35,200,GET,/outputs/rook/640bb8ee-59bc-11ef-b16c-fa163e93...,HTTP/1.1,200,347631,-,"Python-urllib/3.6"" ""-"
221075,136.156.153.235,2291964395,2024-08-13 23:43:14,200,GET,/outputs/rook/08a515bc-59bd-11ef-87ce-fa163e93...,HTTP/1.1,200,127257297,-,"Python-urllib/3.6"" ""-"
221076,136.156.153.87,2291964247,2024-08-13 23:48:47,200,GET,/outputs/rook/cfa5965a-59bd-11ef-8cbb-fa163e93...,HTTP/1.1,200,61905737,-,"Python-urllib/3.6"" ""-"

In [7]:
df["filename"] = df["request"].apply(lambda x: x.split('/')[-1])
df["model"] = df["filename"].apply(lambda x: "_".join(x.split('_')[2:3]))
df["freq"] = df["filename"].apply(lambda x: "_".join(x.split('_')[1:2]))
df["var"] = df["filename"].apply(lambda x: "_".join(x.split('_')[0:1]))
df

,remote_host_ip,ip_number,datetime,timezone,request_type,request,protocol,status_code,size,referer,user_agent,filename,model,freq,var
0,136.156.155.149,2291964821,2024-08-14 00:13:10,200,GET,/outputs/rook/3769991e-59c1-11ef-b5c0-fa163e93...,HTTP/1.1,200,1984894,-,"Python-urllib/3.6"" ""-",ta_Amon_GFDL-ESM4_ssp585_r1i1p1f1_gr1_20220816...,GFDL-ESM4,Amon,ta
1,136.156.153.235,2291964395,2024-08-14 00:13:32,200,GET,/outputs/rook/46226da0-59c1-11ef-84a3-fa163e93...,HTTP/1.1,200,215882,-,"Python-urllib/3.6"" ""-",uas_Amon_GFDL-ESM4_ssp585_r1i1p1f1_gr1_2022081...,GFDL-ESM4,Amon,uas
2,136.156.153.87,2291964247,2024-08-14 00:13:44,200,GET,/outputs/rook/4ddbf048-59c1-11ef-989d-fa163e93...,HTTP/1.1,200,168461,-,"Python-urllib/3.6"" ""-",tas_Amon_GFDL-ESM4_ssp585_r1i1p1f1_gr1_2022081...,GFDL-ESM4,Amon,tas
3,136.156.153.87,2291964247,2024-08-14 00:14:03,200,GET,/outputs/rook/579ddfba-59c1-11ef-952a-fa163e93...,HTTP/1.1,200,2560814,-,"Python-urllib/3.6"" ""-",hur_Amon_GFDL-ESM4_ssp585_r1i1p1f1_gr1_2022081...,GFDL-ESM4,Amon,hur
4,136.156.154.193,2291964609,2024-08-14 00:14:33,200,GET,/outputs/rook/6a7586b0-59c1-11ef-80c3-fa163e93...,HTTP/1.1,200,154219,-,"Python-urllib/3.6"" ""-",psl_Amon_GFDL-ESM4_ssp585_r1i1p1f1_gr1_2022081...,GFDL-ESM4,Amon,psl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221072,136.156.155.149,2291964821,2024-08-13 22:23:46,200,GET,/outputs/rook/6a0d75ee-59b1-11ef-a3da-fa163e93...,HTTP/1.1,200,1833360810,-,"Python-urllib/3.6"" ""-",pr_day_ACCESS-CM2_ssp245_r1i1p1f1_gn_20150101-...,ACCESS-CM2,day,pr
221073,136.156.155.140,2291964812,2024-08-13 23:25:52,200,GET,/outputs/rook/9ce7a396-59ba-11ef-8c38-fa163e93...,HTTP/1.1,200,60959274,-,"Python-urllib/3.6"" ""-",pr_day_MIROC6_historical_r1i1p1f1_gn_19810101-...,MIROC6,day,pr
221074,136.156.155.140,2291964812,2024-08-13 23:38:35,200,GET,/outputs/rook/640bb8ee-59bc-11ef-b16c-fa163e93...,HTTP/1.1,200,347631,-,"Python-urllib/3.6"" ""-",tos_Omon_CanESM5-CanOE_ssp585_r1i1p2f1_gn_2050...,CanESM5-CanOE,Omon,tos
221075,136.156.153.235,2291964395,2024-08-13 23:43:14,200,GET,/outputs/rook/08a515bc-59bd-11ef-87ce-fa163e93...,HTTP/1.1,200,127257297,-,"Python-urllib/3.6"" ""-",pr_day_NorESM2-MM_historical_r1i1p1f1_gn_19810...,NorESM2-MM,day,pr
221076,136.156.153.87,2291964247,2024-08-13 23:48:47,200,GET,/outputs/rook/cfa5965a-59bd-11ef-8cbb-fa163e93...,HTTP/1.1,200,61905737,-,"Python-urllib/3.6"" ""-",pr_day_HadGEM3-GC31-LL_historical_r1i1p1f3_gn_...,HadGEM3-GC31-LL,day,pr

In [8]:
df["model"].unique()

array(['GFDL-ESM4', 'CNRM-CM6-1-HR', 'CanESM5', 'CMCC-ESM2', 'FGOALS-g3',
       'MPI-ESM1-2-LR', 'INM-CM4-8', 'ACCESS-CM2', 'AWI-CM-1-1-MR',
       'BCC-CSM2-MR', 'CAMS-CSM1-0', 'CanESM5-CanOE', 'EC-Earth3-AerChem',
       'INM-CM5-0', 'IPSL-CM6A-LR', 'MIROC6', 'MIROC-ES2L', 'FGOALS-f3-L',
       'NorESM2-MM', 'TaiESM1', 'CESM2-WACCM', 'CESM2', 'CMCC-CM2-SR5',
       'EC-Earth3-Veg', 'CNRM-CM6-1', 'CNRM-ESM2-1', 'EC-Earth3-Veg-LR',
       'IPSL-CM5A2-INCA', 'KACE-1-0-G', 'MCM-UA-1-0', 'UKESM1-0-LL',
       'NorESM2-LM', 'EC-Earth3-CC', 'FIO-ESM-2-0', 'NESM3',
       'ACCESS-ESM1-5', 'MRI-ESM2-0', 'EC-Earth3', 'CMCC-CM2-HR4',
       'HadGEM3-GC31-MM', 'AWI-ESM-1-1-LR', 'HadGEM3-GC31-LL', 'IITM-ESM',
       'KIOST-ESM', 'MPI-ESM-1-2-HAM', 'E3SM-1-1', 'CIESM', 'CESM2-FV2',
       'MPI-ESM1-2-HR', 'CESM2-WACCM-FV2', 'E3SM-1-0', 'E3SM-1-1-ECA',
       'NorCPM1', 'BCC-ESM1', 'MIROC-ES2H', 'SAM0-UNICON', 'GISS-E2-1-G',
       'GISS-E2-1-H', 'IPSL-CM5B-LR', 'MOHC-HadGEM2-ES', 'no-expt',
       'rcp26'], dtype=object)

In [9]:
df["var"].unique()

array(['ta', 'uas', 'tas', 'hur', 'psl', 'hus', 'huss', 'ts', 'ua', 'zg',
       'mrsos', 'sfcWind', 'va', 'ps', 'clt', 'pr', 'zos', 'hurs', 'mrro',
       'tasmax', 'tasmin', 'evspsbl', 'rlut', 'rlds', 'rsds', 'tos',
       'vas', 'sos', 'orog', 'prsn', 'rsdt', 'snd', 'snw', 'siconc',
       'rlus', 'rsus', 'sftof', 'sithick', 'hfls', 'hfss', 'zg500',
       'sftlf', 'simass', 'rsut', 'tauu', 'tauv', 'mrsofc', 'cdd', 't',
       'sfcwind', 'tx35', 'txx', 'tn', 'tx', 'area'], dtype=object)

In [10]:
df["freq"].unique()

array(['Amon', 'Lmon', 'Omon', 'day', 'fx', 'LImon', 'SImon', 'Ofx',
       'EUR-11', 'AERday', 'E-OBS', 'CMIP5'], dtype=object)

In [11]:
model_counts = df['model'].value_counts().reset_index()
model_counts.columns = ['model', 'count']
model_counts

              model  count
0     MPI-ESM1-2-LR  11491
1        ACCESS-CM2  10339
2       CNRM-ESM2-1   9546
3        MIROC-ES2L   9480
4        MRI-ESM2-0   9422
..              ...    ...
57         E3SM-1-0     46
58          no-expt     11
59     IPSL-CM5B-LR      4
60  MOHC-HadGEM2-ES      4
61            rcp26      2

[62 rows x 2 columns]

In [12]:
model_counts.head(10)

           model  count
0  MPI-ESM1-2-LR  11491
1     ACCESS-CM2  10339
2    CNRM-ESM2-1   9546
3     MIROC-ES2L   9480
4     MRI-ESM2-0   9422
5      GFDL-ESM4   9175
6    UKESM1-0-LL   9024
7         MIROC6   8768
8          CESM2   8496
9     NorESM2-MM   8132

In [13]:
var_counts = df['var'].value_counts().reset_index()
var_counts.columns = ['var', 'count']
var_counts

        var   count
0        pr  155026
1       tas   16675
2    tasmax   15014
3    tasmin    8276
4      huss    5469
5   sfcWind    5129
6        ta    4362
7       psl    2978
8      rsds    1546
9        zg     862
10      tos     769
11       ua     614
12      hur     569
13       ts     547
14       va     541
15      hus     456
16    mrsos     339
17  evspsbl     277
18     mrro     163
19     rlds     129
20     hurs     128
21       ps     118
22      zos     113
23     rsdt     111
24      vas      96
25      clt      86
26     rsus      83
27      uas      83
28     rlus      62
29      sos      60
30     hfss      58
31     hfls      55
32   siconc      50
33      snd      48
34  sithick      38
35     prsn      31
36     rlut      24
37     orog      20
38      snw      17
39    sftof      15
40     rsut       8
41    zg500       5
42     tauv       3
43      txx       3
44   mrsofc       3
45   simass       3
46     tauu       3
47      cdd       2
48        t       2
49    sftlf       2
50     area       2
51  sfcwind       1
52     tx35       1
53       tn       1
54       tx       1

In [14]:
var_counts.head(10)

       var   count
0       pr  155026
1      tas   16675
2   tasmax   15014
3   tasmin    8276
4     huss    5469
5  sfcWind    5129
6       ta    4362
7      psl    2978
8     rsds    1546
9       zg     862

In [15]:
freq_counts = df['freq'].value_counts().reset_index()
freq_counts.columns = ['freq', 'count']
freq_counts

      freq   count
0      day  158421
1     Amon   60992
2     Omon     944
3     Lmon     502
4    SImon      91
5    LImon      65
6       fx      25
7      Ofx      15
8    E-OBS      11
9   AERday       5
10  EUR-11       4
11   CMIP5       2